/* ==========================================================================
    General
========================================================================== */
* {
    box-sizing: border-box;
  }

  a
  {
    color: white;
    text-decoration: none;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    position: static;
    z-index: 0;
    top: 0px;
    left: 0px;
    height: 200% !important;
    width: 100%;
    background: black;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
  } 
  
  /* ==========================================================================
      Taskbar
  ========================================================================== */
  .taskbar {
    position: fixed;
    bottom: 0;
    height: 43px;
    width: 100%;
    background: black;
    z-index: 2;
  }
  
  .taskbar .icons-left {
    height: 43px;
    display: inline-block;
  }
  
  .taskbar .icons-left #start-menu, .taskbar .icons-left #tabs-windows {
    width: 48px;
    position: relative;
  }
  
  .taskbar .icons-left #start-menu i, .taskbar .icons-left #tabs-windows i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: white;
  }
  
  .taskbar .icons-left #search {
    height: 43px;
    width: 49px;
    background-image: url("https://image.noelshack.com/fichiers/2018/18/6/1525514790-698627-icon-111-search-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
  }
  
  .taskbar .icons-left #folder {
    height: 43px;
    width: 49px;
    background-image: url("http://www.iconarchive.com/download/i98291/dakirby309/simply-styled/File-Explorer.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 21px;
    background-size: 24px 21px;
  }
  
  .taskbar .icons-left #chrome {
    height: 43px;
    width: 49px;
    background-image: url("https://cdn0.iconfinder.com/data/icons/jfk/512/chrome-512.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
  }
  
  .taskbar .icons-left #tabs-windows {
    height: 43px;
    width: 49px;
    background-image: url("https://image.noelshack.com/fichiers/2018/18/5/1525467821-tabs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    background-size: 23px 15px;
  }
  
  .taskbar .icons-left #tabs-windows:hover {
    height: 43px;
    width: 49px;
    background-image: url("https://image.noelshack.com/fichiers/2018/18/5/1525467821-tabs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    background-size: 28px 15px;
  }
  
  .taskbar .icons-left a {
    display: table-cell;
    border-bottom: 2px solid transparent;
  }
  
  .taskbar .icons-left a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
  
  .taskbar .icons-left a:not(:first-child) {
    margin-left: -4px;
  }
  
  .taskbar .icons-left a.border:focus {
    border-bottom: 2px solid rgba(245, 245, 245, 0.651);
  }
  
  .taskbar .icons-left .px {
    width: 1px;
  }
  
  .taskbar .icons-left .px a {
    pointer-events: none;
  }
  
  .taskbar .icons-right {
    height: 43px;
    float: right;
  }
  
  .taskbar .icons-right #wifi {
    height: 43px;
    width: 49px;
    background-image: url("https://image.noelshack.com/fichiers/2018/18/4/1525383811-wifinotificationicon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }
  
  .taskbar .icons-right #sound {
    height: 43px;
    width: 49px;
    background-image: url("https://image.noelshack.com/fichiers/2018/18/4/1525383779-audiotoasticon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
  }
  
  .taskbar .icons-right #return {
    width: 4px;
    border-left: 1px solid grey;
  }
  
  .taskbar .icons-right #notifications, .taskbar .icons-right #up {
    position: relative;
  }
  
  .taskbar .icons-right #notifications i, .taskbar .icons-right #up i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: white;
  }
  
  .taskbar .icons-right .clear {
    height: 43px;
    width: 7px;
    display: table-cell;
  }
  
  .taskbar .icons-right .disabled {
    pointer-events: none;
    cursor: default;
  }
  
  .taskbar .icons-right .datetime {
    display: table-cell;
    width: 70px !important;
    cursor: pointer;
    padding-top: 3px;
    text-align: center;
  }
  
  .taskbar .icons-right .datetime span {
    text-align: center;
    margin-top: 5px;
    font-size: 11.3px;
    color: white;
    text-align: center;
  }
  
  
  .taskbar .icons-right a {
    display: table-cell;
  }
  
  .taskbar .icons-right a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
  
  .taskbar .icons-right a:not(:first-child) {
    margin-left: -4px;
  }
  
  .taskbar .icons-right .small-icons {
    width: 24px !important;
  }
  
  /* ==========================================================================
      Desktop
  ========================================================================== */
  .hightZIndex
  {
    z-index: 100000 !important;
  }

  .lowZIndex
  {
    z-index: 0 !important;
  }
  
  .desktop {
    display: flex;
  }
  
  .desktop .icon-desktop {
    padding: 4px 8px 4px 8px;
    border: 2px solid transparent;
    text-align: center;
    margin-bottom: 32px;
  }
  
  .desktop .icon-desktop a {
    display: block;
    text-decoration: none;
    cursor: default;
  }
  
  .desktop .icon-desktop img {
    height: 48px;
    width: 48px;
  }
  
  .desktop .icon-desktop span {
    display: block;
    color: white;
    font-size: 11px;
    text-align: center;
  }
  
  .desktop .icon-desktop:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .desktop .icon-desktop:first-child {
    margin-top: 5px;
  }
  
  
  #start-menu-modal {
    z-index: 2;    
    background: #005a9e;
    position: absolute;
    left: 0;
    bottom: 43px;
    height: 600px;
    color: white;
    display: grid;
    grid-template-columns: 50px 250px 400px;
    cursor: default;
  }
  
  #start-menu-modal:target {
    visibility: visible !important;
    animation-name: open;
    animation-duration: 0.1s;
    transition: 0.1s;
  }
  
  @keyframes open {
    0% {
      height: 550px;
      opacity: 0.5;
    }
    100% {
      height: 600px;
      opacity: 1;
    }
  }
  
  #start-menu-modal #user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #start-menu-modal #user a {
    color: whitesmoke;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: default;
  }
  
  #start-menu-modal #user a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  #start-menu-modal #user .push {
    margin-bottom: auto;
  }
  
  #start-menu-modal #apps {
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    padding: 10px;
  }
  
  #start-menu-modal #apps a {
    color: whitesmoke;
    display: flex;
    text-decoration: none;
    padding: 2px 10px 0px 20px;
    line-height: 2.5;
    font-size: 12px;
    letter-spacing: 0.5px;
    cursor: default;
  }
  
  #start-menu-modal #apps a img {
    height: 30px;
    width: 30px;
    padding: 4px;
  }
  
  #start-menu-modal #apps a img[alt="sublime"] {
    background: #292929;
  }
  
  #start-menu-modal #apps a img[alt="access"] {
    background: #7c2325;
  }
  
  #start-menu-modal #apps a i {
    font-size: 25px;
    line-height: 1.1;
  }
  
  #start-menu-modal #apps a span {
    margin-left: 8px;
    color: whitesmoke;
  }
  
  #start-menu-modal #apps a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  #start-menu-modal #apps a.category {
    height: 30px;
  }
  
  #start-menu-modal #others .title-others {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 10px 0px 20px;
    line-height: 2.5;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  
  #start-menu-modal #others .box-others {
    display: inline-flex;
    padding-left: 20px;
    flex-wrap: wrap;
  }
  
  #start-menu-modal #others .box-others .box {
    height: 100px;
    width: 100px;
    position: relative;
    background: #0078d7;
    margin-left: 4px;
    border: 2px solid transparent;
    margin-bottom: 4px;
  }
  
  #start-menu-modal #others .box-others .box img {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #start-menu-modal #others .box-others .box span {
    position: absolute;
    bottom: 3px;
    left: 4px;
    font-size: 12px;
  }
  
  #start-menu-modal #others .box-others .box:hover {
    border: 2px solid #7fbbeb;
  }
  
  #background
  {
    z-index: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/bgdsm.png) center;
    background-repeat: no-repeat;
    object-fit: cover;
  }

.contentFlex
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.d1_3Content
{
  width: 34%;
  background-color: #404040;
  color: #FFF;
}

.d2_3Content
{
  width: 67%;
}

#computerTitle
{
  font-size: 2.5vmin;
}

i .material-icons .arrowLeft
{
  font-size: 4vmin !important;
}

.flex-collumn
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.collumn-container
{
  display: flex;
  justify-content: left;
  padding-top: 4vmin;
}

.computerUl
{
  position: relative;
  top: 2vmin;
  padding-left: 0;
}

.computerUl li
{
  padding: 2.5vmin 4vmin;
  cursor: pointer;
}

.cvLi:hover
{
  background-color: white;
  color: goldenrod;
}

.portfolioLi:hover
{
  background-color: goldenrod;
}

.imieLi:hover
{
  background-color: rgb(219, 0, 0);
}

.wiissleLi:hover
{
  background-color: #3fd5ae;
}

.twitterLi:hover
{
  background-color: #00aced;
}

.linkedInLi:hover
{
  background-color: #0077B5;
}

.liTxt
{
  font-size: 20px;
  position: relative;
  top: -4px;
  left: 8px;
}

.logo_imie
{
  width: 24px;
}

.headInformationsHome
{
  display: flex;
  justify-content: start;
}

.TextInformationsHome
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ImageInformationsHome
{
  width: 100px;
  margin: 15px;
}

.firstNameInformationsHome
{
  font-size: 42px;
  text-align: justify;
}

.lastNameInformationsHome
{
  font-size: 16px;
  text-align: justify;
}

.titleNameInformationsHome
{
  font-size: 21px;
  text-align: justify;
}

.h1CorpsInformations
{
  color: goldenrod;
  font-size: 30px;
  font-weight: 400;
  left: 6%;
  position: relative;
}

.buttonMoreHome
{
  cursor: pointer;
  border-radius: 0;
  background-color: #bbb;
  border: none;
  padding: 6px 12px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  left: 7%;
  position: relative;
  top: 20px;
}

.buttonMoreHome:hover
{
  background-color: rgb(173, 173, 173);
}

.tableInformations
{
  position: relative;
  left: 6%;
}

td
{
  padding: 10px 90px 10px 0px;
}

.corpsInformations
{
  position: relative;
  top: 10px;
}

.ImageImieLogoHeader
{
  height: 100px;
  margin: 15px;
}

#contentText42
{
  text-align: justify;
  padding-right: 50px;
  margin: 0 5vmin;
}

.h1CorpsInformationsImie
{
  color: rgb(219, 0, 0);
  font-size: 30px;
  font-weight: 400;
  left: 6%;
  position: relative;
}

#myCursus
{
  position: relative;
  top: 2vmin;
}

#myCursus p
{
  margin-bottom: 0px;
}

.twitterContainerWin
{
  position: relative;
  background-color: white !important;
  box-shadow: none;
  display: initial !important;
  height: 100%;
  width: 100%;
}

#twitterRelateInfos
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cvContainer
{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

.cvContainer img
{
  width: 80%;
}