.h1CorpsInformationsWiissle
{
    color: #3fd5ae;
}

.wiissleText p
{
    margin: 0;
}

.wiissleExp
{
    position: relative;
    top: 2vmin;
}

.linkContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkContainer a
{
    color: black;
    text-decoration: underline;
}