@import "https://fonts.googleapis.com/css?family=Gudea:400,400italic,700|Bangers";
@import "normalize.css";


body
{
	background: url(../images/android/bgandroid.jpg) no-repeat;
	min-height: 100%;
}

html, body {
			padding: 0;
			margin: 0;
		 	overflow: hidden;
		}

		*
		{
		  box-sizing: border-box;
		}

@font-face{
	font-family: "Tw Cen MT Condensed";
	src: url('../font/Tw Cen MT Condensed.ttf');
}

@font-face{
	font-family: "Brush Script MT";
	src: url('../font/Brush Script MT.ttf');
}


/*----------------------------------------
Menu Applis
----------------------------------------*/
.attention
{
	display: none;
}

.all
{
  background-color: rgba(1,1,1,0.6);
  margin: 20px 20px 0px 20px;
  padding-top: 20px;
  padding-bottom: 2000px;
  border-radius: 10px;
	top: 2000px;
	position: relative;
	transition-timing-function: ease;
	transition-duration: 0.4s;
	transition-delay: 0s;
}

.haut
{
	top: 0px;
	transition-timing-function: ease;
	transition-duration: 0.4s;
	transition-delay: 0s;
}

a
{
   text-decoration: none;
   color: white;
}

/*----------------------------------------
Icones Menu Applis
----------------------------------------*/

.partgauche
{
		display: inline-block;
}

.partgauche .row1
{
	display: inline-block;
	font-family: Calibri, sans-serif;
	font-size: 0.8rem;
  text-align: center;
}

.partgauche .row1
{
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-gap: 6%;
 grid-auto-rows: minmax(100px, auto);
 margin-left: 6%;
 margin-top: 6%;
}

.partgauche .row2
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
  grid-gap: 6%;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 6%;
  margin-top: 6%;
}

.item
{
	border: 2px solid rgba(0,0,0,0);
	min-width: 110px;
	padding: 5px 5px 5px 5px;
}

.item .a-item
{
 font-size: 125%;
}

.item .ico
{
  width: 110%;
}


.bouton
{
	display: block;
	margin-top: 0px;
	position: absolute;
	bottom: 20px;
	margin-left: 37%;
}

@media (min-width: 1024px){

	*
	{
		box-sizing: content-box;
		margin: 0px;
	}

	body
	{
			background-image: url('../images/bgdsm.png');
			background-size: contain;
			background-color: black;
	}

	div.bouton
	{
		display: none;
	}

	.all
	{
	  background-color: rgba(1,1,1,0);
	  margin: 0 auto;
	  padding-top: 20px;
	  padding-bottom: 2000px;
	  border-radius: 10px;
		top: 0px;
		position: relative;
		transition-timing-function: ease;
		transition-duration: 0.4s;
		transition-delay: 0s;
	}
	.partgauche
	{
			display: inline-block;
	}

	.partgauche .row1
	{
		float: left;
		position: relative;
		display: block;
		text-align: center;
		font-family: Calibri, sans-serif;
		font-size: 0.8rem;
	}

	.partgauche .row2
	{
		float: right;
		position: relative;
		display: block;
		text-align: center;
		font-family: Calibri, sans-serif;
		font-size: 0.8rem;
	}

	.item:hover
	{
		border: 2px solid rgba(179,245,255,0.5);
		background-color: rgba(179,245,255,0.1);
		border-radius: 3px;
	}

	.item .ico
	{
		width: 50%;
	}

	.item
	{
		border: 2px solid rgba(0,0,0,0);
		min-width: 160px;
		padding: 15px 5px 5px 5px;
	}


	/*----------------------------------------
	ICONES DE DROITE
	----------------------------------------*/


	.partgauche
	{
			display: inline-block;
	}

	.partgauche .row1
	{
		float: left;
		position: relative;
		display: block;
		text-align: center;
		font-family: Calibri, sans-serif;
		font-size: 0.8rem;
	}

	.partgauche .row2
	{
		float: right;
		position: relative;
		display: block;
		text-align: center;
		font-family: Calibri, sans-serif;
		font-size: 0.8rem;
	}

	.item:hover
	{
		border: 2px solid rgba(179,245,255,0.5);
		background-color: rgba(179,245,255,0.1);
		border-radius: 3px;
	}

	.item
	{
		border: 2px solid rgba(0,0,0,0);
		min-width: 160px;
		padding: 5px 5px 5px 5px;
	}

	.bas
	{
		float: right;
		position: relative;
		bottom: 0px;
		text-align: center;
		font-family: Calibri, sans-serif;
		font-size: 0.8rem;
		padding-top: 16px;
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	/*----------------------------------------
	Fentre Pop
	----------------------------------------*/

	.cv .zonedumilieu .fen
	{
		display: block;
		width: 1152px;
		height: 648px;
	}

	.fenetre
	{
		background-image: url('../images/fondciel.jpg.png');
		width:1152px;
		height:672px;
		display: inline-block;
	}


	.fenandroid
	{
	  height: 1152px;
	  width: 648px;
	}

	.fondciel
	{
	  width: 1000px;
	  height: 517.92px;
	  position: relative;
	  background-position: center;
	  top: 0px;
	}

	.fenetrebar
	{
	  width: 1152px;
	  height:24px;
	  position: absolute;
	  z-index: 4;
	  top: 0px;
		right: 0px;
	}

	.zonedumilieu
	{
	  position: absolute;
	}


		/*----------------------------------------
		CV
		----------------------------------------*/
		.contenucv
		{
		  position: relative;
		  z-index: 2;
		  left: 25px;
		  top:10px;
		  font-family: 'Tw Cen MT Condensed',cursive;
		}

		.topheader
		{
		  background-color: white;
		  margin-left: -20px;
		  margin-right: 25px;
		}

		.logoimie
		{
		  width: 25%;
		  position: absolute;
		  right: 40px;
		  top: 70px;
		}

		.h1
		{
		  font-size: 100px;
		  margin-top: 10px;
		  color: black;
		}

		.titre
		{
		  border: #ffd98d solid 3px;
		  font-size: 40px;
		  position: absolute;
		  top: 15px;
		  right: 40px;
		}

		.citation
		{
		  font-size: 60px;
		  font-style: italic;
		  font-family: 'Brush Script MT', fantasy;
		  position: absolute;
		  top: 20px;
		  left: 270px;
		}

		.citation2
		{
		  font-size: 60px;
		  font-style: italic;
		  font-family: 'Brush Script MT', fantasy;
		  position: absolute;
		  top: 80px;
		  left: 345px;
		}


		.coordonnees
		{
		  font-size: 16px;
		  margin-left: 6px;
		}


		.cooord
		{
		  position: relative;
		  top: -12px;
		}

		.coordonneesgauche1
		{
		  font-size: 16px;
		  position: absolute;
		  margin-top: 136px;
		  margin-left: 86px;
		}

		.coordonneesgauche2
		{
		  font-size: 16px;
		  position: absolute;
		  margin-top: 152px;
		  margin-left: 86px;
		}

		.logo
		{
		  width: 16px;
		  height: 16px;
		  margin-right: 5px;
		}


		.h2
		{
		  font-size: 40px;
		  margin-top: -25px;
		  margin-left: 5px;
		  color: black;
		}

		.cv
		{
			position: absolute;
			top: 50px;
			left: 200px;
		}

		.h1o
		{
		  font-size: 45px;
		  margin-top: 10px;
		  color: #ffd98d;
		}

		.h1w
		{
		  font-size: 45px;
		  margin-top: 10px;
		  color: #ffffff;
		}

		.formation
		{
		  color: #ffd98d;
		  margin-left: 15px;
		  font-size: 20px
		}

		.diplome
		{
		    color: #ffffff;
		    margin-left: 15px;
		    font-size: 20px
		}

		.imgcomp
		{
		  width: 35%;
		}

		.blocqual
		{
		  border: #ffd98d solid 3px;
		  font-size: 40px;
		  position: absolute;
		  top: 180px;
		  right: 500px;
		  padding-left: 30px;
		  padding-top: 20px;
		  padding-right: 30px;
		  padding-bottom: 30px;
		}

		.qual
		{
		  color: white;
		  font-size: 20px;
			text-align: center;
		}

	.center
	{
		text-align: center;
	}

		.blocproj
		{
		  border: #ffd98d solid 3px;
		  font-size: 40px;
		  position: absolute;
		  top: 375px;
		  right: 430px;
		  padding-left: 30px;
		  padding-top: 20px;
		  padding-right: 30px;
		  padding-bottom: 30px;
		}

		.exp
		{
		  position: absolute;
		  top: 200px;
		  right: 50px;
		}

		.experience
		{
		  margin-left: 15px;
		  font-size: 20px;
		  color: white;
		}

		.exp .experience a
		{
			text-decoration: underline;
		}

		.twitter
		{
			position: absolute;
			top: 50px;
			left: 200px;
		}

		.hello
		{
			position: absolute;
		}

		.barre_t
		{
		width: 1152px;
		height:68.8px;
		position: absolute;
		z-index: 3;
		top: 0px;
		right: 0px;
		}

		.bienvenue
		{
			position: absolute;
			top: 40px;
			left: 225px;
			width: 1152px;
			height: 672px;
		}

		.text-blocnote
		{
			position: absolute;
			top: 29px;
			left: 10px;
		}


		.loaderdiv
		{
			min-height: 100%;
			min-width: 100%;
			background-color: rgba(0,169,218,1);
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
			background-size: cover;
			position: absolute;
			transition: ease, 0.5;
			z-index: 10;
		}

		.loaderpic
		{
			text-align: center;
			transition: ease, 0.5;
			z-index: 10;
			display:block;
			margin: 0 auto;
			padding-top: 10%;
		}
}
