@import "https://fonts.googleapis.com/css?family=Gudea:400,400italic,700|Bangers";
@import "normalize.css";

/*----------------------------------------
COMMON
----------------------------------------*/

body
{
	background: url(images/android/bgandroid.jpg) no-repeat;
}

html, body {
			padding: 0;
			margin: 0;
		 	overflow: hidden;
		}

*
{
	box-sizing: content-box;
}


@font-face{
	font-family: "Tw Cen MT Condensed";
	src: url('font/Tw Cen MT Condensed.ttf');
}

@font-face{
	font-family: "Brush Script MT";
	src: url('font/Brush Script MT.ttf');
}
/*----------------------------------------
ICONES DE DROITE
----------------------------------------*/


.partgauche
{
		display: inline-block;
}

.partgauche .row1
{
	float: left;
	position: relative;
	display: block;
	text-align: center;
	font-family: Calibri, sans-serif;
	font-size: 0.8rem;
}

.partgauche .row2
{
	float: right;
	position: relative;
	display: block;
	text-align: center;
	font-family: Calibri, sans-serif;
	font-size: 0.8rem;
}

.item:hover
{
	border: 2px solid rgba(179,245,255,0.5);
	background-color: rgba(179,245,255,0.1);
	border-radius: 3px;
}

.item
{
	border: 2px solid rgba(0,0,0,0);
	min-width: 160px;
	padding: 5px 5px 5px 5px;
}

.bas
{
	float: right;
	position: relative;
	bottom: 0px;
	text-align: center;
	font-family: Calibri, sans-serif;
	font-size: 0.8rem;
	padding-top: 16px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.attention
{
	color: white;
	font-family: Verdana;
	font-size: 40px;
	position: relative;
}


/*----------------------------------------
Fentre Pop
----------------------------------------*/


.fenetre
{
	background-image: url('../images/fondciel.jpg.png');
	width:1152px;
	height:672px;
	display: inline-block;
}


.fenandroid
{
  height: 1152px;
  width: 648px;
}

.fondciel
{
  width: 1000px;
  height: 517.92px;
  position: relative;
  background-position: center;
  top: 0px;
}

.fenetrebar
{
  width: 1152px;
  height:24px;
  position: absolute;
  z-index: 3;
  top: 0px;
}

.zonedumilieu
{
  position: absolute;
}


	/*----------------------------------------
	CV
	----------------------------------------*/
	.contenucv
	{
	  position: relative;
	  z-index: 2;
	  left: 25px;
	  top:10px;
	  font-family: 'Tw Cen MT Condensed',cursive;
	}

	.topheader
	{
	  background-color: white;
	  margin-left: -20px;
	  margin-right: 25px;
	}

	.logoimie
	{
	  width: 25%;
	  position: absolute;
	  right: 40px;
	  top: 70px;
	}

	.h1
	{
	  font-size: 100px;
	  margin-top: 10px;
	  color: black;
	}

	.titre
	{
	  border: #ffd98d solid 3px;
	  font-size: 40px;
	  position: absolute;
	  top: 15px;
	  right: 40px;
	}

	.citation
	{
	  font-size: 60px;
	  font-style: italic;
	  font-family: 'Brush Script MT', fantasy;
	  position: absolute;
	  top: 20px;
	  left: 270px;
	}

	.citation2
	{
	  font-size: 60px;
	  font-style: italic;
	  font-family: 'Brush Script MT', fantasy;
	  position: absolute;
	  top: 80px;
	  left: 345px;
	}


	.coordonnees
	{
	  font-size: 16px;
	  margin-left: 6px;
	}


	.cooord
	{
	  position: relative;
	  top: -12px;
	}

	.coordonneesgauche1
	{
	  font-size: 16px;
	  position: absolute;
	  margin-top: 136px;
	  margin-left: 86px;
	}

	.coordonneesgauche2
	{
	  font-size: 16px;
	  position: absolute;
	  margin-top: 152px;
	  margin-left: 86px;
	}

	.logo
	{
	  width: 16px;
	  height: 16px;
	  margin-right: 5px;
	}


	.h2
	{
	  font-size: 40px;
	  margin-top: -25px;
	  margin-left: 5px;
	  color: black;
	}

	.cv
	{
		position: absolute;
		top: 50px;
		left: 200px;
	}

	.h1o
	{
	  font-size: 45px;
	  margin-top: 10px;
	  color: #ffd98d;
	}

	.h1w
	{
	  font-size: 45px;
	  margin-top: 10px;
	  color: #ffffff;
	}

	.formation
	{
	  color: #ffd98d;
	  margin-left: 15px;
	  font-size: 20px
	}

	.diplome
	{
	    color: #ffffff;
	    margin-left: 15px;
	    font-size: 20px
	}

	.imgcomp
	{
	  width: 35%;
	}

	.blocqual
	{
	  border: #ffd98d solid 3px;
	  font-size: 40px;
	  position: absolute;
	  top: 180px;
	  right: 500px;
	  padding-left: 30px;
	  padding-top: 20px;
	  padding-right: 30px;
	  padding-bottom: 30px;
	}

	.qual
	{
	  color: white;
	  font-size: 20px;
		text-align: center;
	}

.center
{
	text-align: center;
}

	.blocproj
	{
	  border: #ffd98d solid 3px;
	  font-size: 40px;
	  position: absolute;
	  top: 375px;
	  right: 430px;
	  padding-left: 30px;
	  padding-top: 20px;
	  padding-right: 30px;
	  padding-bottom: 30px;
	}

	.exp
	{
	  position: absolute;
	  top: 200px;
	  right: 50px;
	}

	.experience
	{
	  margin-left: 15px;
	  font-size: 20px;
	  color: white;
	}




/*----------------------------------------
DIVMAGIC
----------------------------------------*/
.grut
{
	/*qsqsd*/
}

@media (min-width: 1024px)
{

	body
	{
		background-image: url('../images/bgdsm.png');
	}

	.cv .zonedumilieu .fenandroid
	{
		display: none;
	}

	.cv .zonedumilieu .fen
	{
		display: block;
		width: 1152px;
		height: 648px;
	}
}




p
{
	margin-top: 0px;
	margin-bottom: 0px;
}

a
{
	text-decoration: none;
	color: white;
{
